body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  background-color: rgb(186, 195, 204)
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgb(4, 0, 31);
  color: white;
  padding: 20px 20px;
  padding-right: 6%;
  padding-left: 6%;
}

.header a {
  color: #ffe8e8;
}

.grid {
  display: grid;
  grid-template-columns: 2fr, 1fr;
  gap: 12px;
  margin: 40px 10%;
  padding: 12px;
  background-color: rgb(186, 195, 204);
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}


h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.2;
}
